{% extends "layout.html.twig" %}
{% block title %}Home - OpenCfP{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>OpenCfP</h1>

    <p>OpenCfP was created to address the needs of conference organizers when opening and selecting proposals for their conference. The primary audience for this project is conference organizers without an existing CfP management solution and without the ability to either create a custom solution or license an existing solution. Specifically the OpenCfP is a way to provide the functionality many conferences have duplicated repeatedly, sometimes with lackluster results.</p>

    <p>The main goals for the OpenCfP project are to:</p>

    <ul>
        <li>provide an interface for conference organizers to schedule and manage submissions to a call for papers;</li>
        <li>allow conference organizers to sort, filter, and select from proposed sessions;</li>        <li>allow submitters to create and export a speaker profile, connected to popular services speakers are likely already using; and</li>    
        <li>be a free alternative to using tools which are not exactly suited for the task which many first conferences end up using.</li>
    </ul>

    <p><a href="https://github.com/jcarouth/opencfp" class="btn btn-primary btn-large">On Github &raquo;</a></p>
</div>
{% endblock %}
