{% extends "layout.html.twig" %}
{% block title %}Home - OpenCfP{% endblock %}
{% block content %}
    <h1>OpenCfP</h1>

    <p>
        Learn more at <a href="https://github.com/jcarouth/opencfp">https://github.com/jcarouth/opencfp</a>
    </p>
{% endblock %}
